<div>
  <summary
    class="header__icon header__icon--menu header__icon--summary link focus-inset"
  >
    <span>
      {{- 'icon-hamburger.svg' | inline_asset_content -}}

      {% comment %} {{- 'icon-close.svg' | inline_asset_content -}} {% endcomment %}
    </span>
  </summary>
</div>
