<li class="card__element">
  <img class="card-img" src="{{ product.featured_image |  image_url: width: 400  }}" alt="product_img">
  <div class="card__content">
    <p class="card__heading">{{ product.title }}</p>
    <span class="card__money"> {{ product.price | money }} </span>
  </div>
  <div>
    {% form 'product', product %}
      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
      <button class="card__button--antiquewhite" type="submit">Add to card</button>
    {% endform %}
  </div>
</li>
