<html>
  <head>
    <link rel="icon" href="{{ 'hanger-shirt.png' | asset_url }}" type="image/png">

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}

    {% section 'footer' %}
  </body>
</html>
