<section>
  <div class="air-force__name">Darova 4ort</div>

  <div>
    {% for product in collection.products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>
</section>

<style>
  .air-force__name{
    color: {{ section.settings.background }} ;
  }
</style>
{% schema %}
{
  "name": "air-force",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#000000"
    }
  ]
}
{% endschema %}
