<section class="card__collection">
  <div class="card__collection-bg-images">
    {% if section.settings.bg_image %}
      <img
        height="530px"
        loading="lazy"
        class="main-image"
        width="100%"
        src="{{ section.settings.bg_image |  image_url }}"
        alt="Background"
      >
    {% else %}
      <img
        height="530px"
        loading="lazy"
        class="main-image"
        width="100%"
        src="{{ 'shopi-bg.jpg' | asset_url }}"
        alt="Background"
      >
    {% endif %}
    <div class="card__collection-latest">
      <h2>Browse our latest products</h2>
      <a href="/collections/all" class="card__collection-btn">Shop all</a>
    </div>
  </div>
  <div class="card__collection--width">
    <h1>{{ section.settings.bg_image | default: collections.frontpage.title }}</h1>
    <ul class="card__container">
      {% for product in collections.frontpage.products %}
        <a class="card__link" href="{{ product.url }}">
          {% render 'product-card', product: product %}
        </a>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "home-collection",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "bg_title",
      "label": "Background title"
    }
  ]
}
{% endschema %}
