<section class="card__collection">
  <div class="card__collection--width">
    <h1>{{ collections.frontpage.title }}</h1>
    <ul class="card__container">
      {% for product in collections.frontpage.products %}
        <a class="card__link" href="{{ product.url }}">
          {% render 'product-card', product: product %}
        </a>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "home-collection",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "bg_title",
      "label": "Background title"
    }
  ]
}
{% endschema %}
