<section class="card__collection">
  <div>
    <div>
      <h1>{{ collections.frontpage.title }}</h1>
      <ul class="card__container">
        {% for product in collections.frontpage.products %}
          <a class="card__link" href="{{ product.url }}">
            {% render 'product-card', product: product %}
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
